NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="AIzaSyDdGFriMwQIm-DUMoyaUcH6BXhmhSGnTvU"
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBAKsVm1aMGAywUNIVTG-CH_s9Rqhc0Ajk"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="edutrack-52e6c.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="edutrack-52e6c"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="edutrack-52e6c.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="596966775969"
NEXT_PUBLIC_FIREBASE_APP_ID="1:596966775969:web:e17cb0f0780f207d7964e0"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-XF6VM8EWGV"
NEXT_PUBLIC_API_URL="https://edutrack-liveapi-app.vercel.app"
NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_test_placeholder"
