# Firebase PostgreSQL Database URL
DATABASE_URL="postgresql://edutrack_app:edutrack%402026@34.180.7.94:5432/edutrack?sslmode=require"
ALLOW_DESTRUCTIVE_SEED=true
STUDENT_ADMISSION_DELAY=1000
JWT_SECRET="edutrack-super-secret-key-change-in-production-19823612"
JWT_EXPIRATION="9999d"
JWT_REFRESH_SECRET="edutrack-super-refresh-secret-key-change-in-production-472619"
JWT_REFRESH_EXPIRATION="7d"
PORT=3001

FIREBASE_CREDENTIALS_PATH="./firebase-service-account.json"
DISABLE_OTP_SECURITY=true
